@charset "UTF-8";
/* Go from zero to full opacity */
@keyframes fadeEffect
{
	from {opacity: 0;}
	to {opacity: 1;}
}
.contentTab
{
	display: none;
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
	/*text-align: center;
	justify-content: center;
	/*flex-direction: column; 
	align-items: center;*/
}
.tabHeader
{
	float: left;
}
/*.tabContent
{
	/*text-align: center;
	display: inline-block;
}*/
.tabContainer
{
	min-height: 250px;
}