/* Styles for custom element behavior */
.profilePic
{
	width: 10% /*125px*/;
	height: 10% /*125px*/;
	border-radius: 50%;
	display: block;
	background-color: inherit;
}
.footerLogo
{
	width: auto;
	height: 80px;
	border: 0;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
.sectionStyle
{
	width: 80%;
	min-height: 100px;
	max-height: 1000px;
	display: inline-block;
}
.modernArticle
{
	border-left: 4px solid #3d3d5c;
	border-radius: 6px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #eaeaea;
	background: #111;
	box-sizing: border-box;
}
.modernArticle h2 {
	margin-top: 0;
	margin-bottom: 1.2rem;
}
.modernArticle p {
	color: #eaeaea;
}
.modernArticle strong {
	color: #9acbff;
	font-weight: 600;
}

.modernArticle blockquote {
	padding-left: 1.2rem;
	border-left: 3px solid #3d3d5c;
	color: #ccc;
	font-style: italic;
}

.modernArticle blockquote footer {
	margin-top: 0.5rem;
	font-size: 0.9rem;
	color: #888;
}
.whatIdoHeader
{
	border: 4px solid #3d3d5c;
	border-radius: 6px;
	background-color: #111;
	color: #eaeaea;
	box-sizing: border-box;
}
/*
.tableMenu
{
	margin: auto;
	font-size: 24px;
}*/
@media only screen and (orientation: portrait)
{
	.profilePic
	{
		width: 16%;
		height: 16%;
	}
	.sectionStyle
	{
		width: 95%;
	}
	.footerLogo
  {
	  height: 50px;
  }
}
