/* Styles for custom element behavior */
.profilePic
{
	width: 10% /*125px*/;
	height: 10% /*125px*/;
	border-radius: 50%;
	display: block;
	background-color: inherit;
}
.footerLogo
{
	width: auto;
	height: 100px;
	border: 0;
	margin-left: 5px;
	margin-right: 5px;
}
.sectionStyle
{
	width: 80%;
	min-height: 100px;
	max-height: 1000px;
	display: inline-block;
}
/*
.tableMenu
{
	margin: auto;
	font-size: 24px;
}*/
@media only screen and (orientation: portrait)
{
	.profilePic
	{
		width: 16%;
		height: 16%;
	}
	.sectionStyle
	{
		width: 95%;
	}
}
