/* CSS styles for interactive/embeded elements*/
.video
{
	width: 48%;
	height: 380px;
	/*width: 100%;
	min-height: 720px;
	max-height: 100%;
	*/
	margin: 2px;
	border-radius: 25px 25px 25px 25px;
}
@media only screen and (orientation: portrait)
{
	.video
	{
		width: 100%;
		height: auto;
	}
}
