@charset "UTF-8";
/* Legacy
.jobButton {
  background-color: red;
  width: 100%;
  padding-top: 100%;  1:1 Aspect Ratio 
  position: relative;  If you want text inside of it 
}
If you want text inside of the container 
.text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
*/
.webapp
{
	background-image: url('../../../pictures/icons/app.svg');
	width: 50%;
	padding-top: 50%;
	background-size: cover;
	/*aspect-ratio : 1 / 1;*/
}
.app
{
	background-image: url('../../../pictures/icons/webapp.png');
	width: 50%;
	padding-top: 50%;
	background-size: cover;
}
.other
{
	background-image: url('../../../pictures/icons/other.svg');
	width: 50%;
	padding-top: 50%;
	background-size: cover;
}
.jobButton
{
	max-width: 25%;
	min-width: 25%;
	aspect-ratio : 1 / 1;
	background-color: var(--body-backgroud-color);
	position: relative;
	font-size: calc(var(--standard-text-font-size) * 6);
	/*font-weight: bold;*/
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	flex-direction: column;
	vertical-align: middle;
	margin: 30px;
}
.jobButtonText
{
	font-size: calc(var(--standard-text-font-size) * 1.5);
	position: relative;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
}
.jobButton:hover
{
	background-color: var(--job-button-background-color);
	color: white;
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container
{
	justify-content: center;
	display: flex;
	/*justify-content: space-between;*/
	width: 100%;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
@media only screen and (orientation: portrait)
{
.jobButtonText
{
	font-size: var(--standard-text-font-size);
}
.jobButton
{
	max-width: 66%;
	min-width: 66%;
	/*margin: auto;*/
}
.container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly along the vertical axis */
    /* Add other styles as needed */
}
}
