.loginWindow
{
	margin: auto;
	height: auto;
	width: auto;
}
.loginForm
{
	text-align: center;
	padding: 8px;
	min-width: 25%;
	max-width: 100%;
	font-size: var(--standard-text-font-size);
	margin: auto;
}
html, body
{
	height: 100%;
}
.centerForm
{
	margin: auto;
}
.centerBody
{
	position: relative;
	width: 100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	min-height:100%;
}
.anchorFooter
{
	position: absolute;
	bottom: 0;
}